* {
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: 'HarryP';
    src: url('../assets/harry_p/HarryP.woff') format('truetype');
    font-weight: normal;
    font-style: normal;
}

.lugrasimo-regular {
    font-family: "Lugrasimo", cursive;
    font-weight: 400;
    font-style: normal;
}

nav,
p {
    font-family: "Poppins", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6,
.text-overlay {
    font-family: "Lugrasimo", cursive;
}

nav {
    background-color: #000000;
    color: white;
    padding: 0.5em 0;
    height: 50px;
    position: fixed;
    z-index: 10;
    width: 100%;
}

.nav-palabras {
    width: 50px;
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
    padding: 0;
}

nav ul li {
    margin: 1em;
}

nav ul li a {
    color: rgb(189, 167, 42);
    text-decoration: none;
    min-width: 90px;
}

nav ul li a:hover {
    color: white;
}

nav ul li img {
    width: 70px;
    position: relative;
    z-index: 3;
}

main {
    padding: 2em;
    text-align: center;
}

.intro {
    min-height: 50vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: auto;
    max-width: 550px;
    margin: 0 auto;
}

#inicio {
    background: linear-gradient(to bottom, rgba(77, 42, 20, 0) 70%, #4d2a14 100%),
        url(../assets/Img-titulo.webp);
    background-size: cover;
    background-position: center;
}

footer {
    background-color: #000000;
    color: rgb(189, 167, 42);
    text-align: center;
    padding: 1em 0;
    position: fixed;
    width: 100%;
    bottom: 0;
}

/* INDEX */

.filters {
    background-color: #4d2a14;
    min-height: 100px;
}

.filter-container {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100vw;
    position: absolute;
    margin-top: -80px;
}

.filter-item {
    position: relative;
    text-align: center;
    cursor: pointer;
    margin-bottom: 10px;
    transition: transform 0.3s ease;
}

.filter-item img {
    width: 150px;
    height: 150px;
    object-fit: cover;
    border-radius: 20px;
    border: solid 8px rgba(255, 255, 255, 0.646);
    box-shadow: 10px 10px 5px -8px rgba(0, 0, 0, 0.22);
    -webkit-box-shadow: 10px 10px 5px -8px rgba(0, 0, 0, 0.22);
    -moz-box-shadow: 10px 10px 5px -8px rgba(0, 0, 0, 0.22);
}

.filter-item:hover {
    transform: scale(1.1);
}

.filter-text {
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 18px;
    font-weight: bold;
    z-index: 2;
}

.filter-item::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 20px;
    background: rgba(0, 0, 0, 0.5);
    opacity: 0;
    transition: opacity 0.3s ease;
    z-index: 1;
}

.filter-item:hover::after {
    opacity: 1;
}

.filter-item:hover .filter-text {
    display: block;
}


.results {
    padding: 20px;
    margin-bottom: 50px;
    background-color: #4d2a14;
    text-align: center;
    min-height: 30vh;
    color: white;
}

.results h1 {
    margin: 10px 0;
}

#results-container {
    margin: 50px;
}

#results {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 30px;
    justify-content: center;
}

#results img {
    width: 120px;
}

#spell-list-container,
#professors-filter-container {
    margin-top: 20px;
    width: 400px;
    margin: auto;
}

#search-bar,
#house-filter {
    display: block;
    padding: 8px;
    width: 100%;
    max-width: 200px;
    margin: 40px auto;
}

#spell-list,
#results,
#professor-list {
    list-style: none;
    padding: 0;
}

#spell-list li,
#results li,
#professor-list li {
    margin-bottom: 10px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}


/* PERSONAJES */

#tarjetas {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 30px 0;
}

.container {
    width: 90%;
    max-width: 900px;
}

.character-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 60px;
}

.card {
    perspective: 1000px;
    position: relative;
    width: 100%;
    padding-bottom: 100%;
    transform-style: preserve-3d;
}

.card-inner {
    position: absolute;
    width: 100%;
    height: 100%;
    transition: 0.6s;
    transform-style: preserve-3d;
    transform-origin: center;
}

.card:hover .card-inner {
    transform: rotateY(180deg);
}

.card-front,
.card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
}

.card-front img,
.card-back img {
    width: 100%;
    height: auto;
    background-size: cover;
    clip-path: polygon(50% 0%, 100% 38%, 81% 100%, 19% 100%, 0% 38%);
    display: block;
}

.card-front .text-overlay {
    position: absolute;
    bottom: 7%;
    left: 50%;
    transform: translateX(-50%);
    color: white;
    background-color: #efb400;
    padding: 5px 15px;
    font-size: 12px;
    font-weight: bold;
    z-index: 3;
}

.card-back {
    color: #000;
    transform: rotateY(180deg);
}

.card-back .text-overlay {
    position: absolute;
    bottom: 7%;
    left: 50%;
    transform: translateX(-50%);
    color: white;
    padding: 5px 15px;
    font-size: 12px;
    font-weight: bold;
    z-index: 3;
}

.card-back .details {
    position: absolute;
    color: #000;
    font-size: 12px;
    line-height: 18px;
}

.house-filter {
    display: flex;
    gap: 80px;
    margin: 80px 0 30px 0;
    justify-content: center;
}

.house-filter img {
    width: 100px;
}

.house-filter img:hover {
    transform: scale(1.10);
    transition: transform 0.4s ease;
}

#personajes {
    background-image: url('../assets/fondo.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    min-height: 100vh;
}

/* responsive */

@media (max-width: 900px) {
    .intro {
        min-height: 60vh;
        max-width: 500px;
    }

    #inicio {
        background-position: -130px;
    }

    .container {
        width: 80%;
    }

    .character-grid {
        grid-template-columns: repeat(2, 1fr);
        gap: 50px;
    }

    .house-filter {
        gap: 50px;
        margin: 80px 0 30px 0;
    }

    .house-filter img {
        width: 120px;
    }

    .card-front .text-overlay {
        font-size: 18px;
    }

    .card-back .text-overlay {
        bottom: 6%;
        font-size: 18px;
    }

    .card-back .details {
        font-size: 16px;
        line-height: 25px;
    }

    #results {
        grid-template-columns: repeat(2, 1fr);
        gap: 20px;
    }
}

@media (max-width: 640px) {
    .intro {
        min-height: 50vh;
        max-width: 350px;
    }

    #inicio {
        background-position: -170px;
    }

    .container {
        width: 60%;
    }

    .character-grid {
        grid-template-columns: repeat(1, 1fr);
        gap: 50px;
    }

    .house-filter {
        gap: 40px;
        margin: 80px 0 30px 0;
    }

    .house-filter img {
        width: 80px;
    }

    .card-front .text-overlay {
        font-size: 22px;
    }

    .card-back .text-overlay {
        bottom: 5%;
        font-size: 18px;
    }

    .card-back .details {
        font-size: 16px;
        line-height: 26px;
    }

    .filter-item img {
        width: 100px;
        height: 100px;
        border: solid 5px rgba(255, 255, 255, 0.646);
    }
}

@media (max-width: 500px) {
    #inicio {
        background-position: -195px;
    }

    .house-filter {
        gap: 20px;
        margin: 80px 0 30px 0;
    }

    .house-filter img {
        width: 60px;
    }

    .card-front .text-overlay {
        font-size: 12px;
    }

    .card-back .text-overlay {
        bottom: 5%;
        font-size: 12px;
    }

    .card-back .details {
        font-size: 11px;
        line-height: 16px;
    }

    #results {
        grid-template-columns: repeat(1, 1fr);
        gap: 20px;
    }
}

@media (max-width: 400px) {
    #inicio {
        background-position: -200px;
    }

    .filter-item img {
        width: 80px;
        height: 80px;
        border: solid 5px rgba(255, 255, 255, 0.646);
    }

    #spell-list-container,
    #professors-filter-container {

        width: 250px;
    }
}